.select_dishes .text-center{
    text-align: center;
    align-content: center;
    line-height: 30px;
    color: #0f0f0f;
    font-size: 20px;
    margin: 0 auto
}





/*.bar-wrapper{*/
/*    width: 1008px;*/
/*    height: 50px;*/
/*    position: fixed;*/
/*    bottom: -1px;*/
/*    z-index: 99;*/
/*    background: #e5e5e5;*/
/*}*/
/*.bar-wrapper .bar-right{*/
/*    float: right;*/
/*    color: #3c3c3c;*/
/*}*/
/*.bar-wrapper .bar-right strong{*/
/*    color: #f40;*/
/*}*/

/*.bar-wrapper .bar-right .piece{*/
/*    float: left;*/
/*    min-width: 110px;*/
/*    margin-right: 20px;*/
/*    height: 50px;*/
/*    line-height: 50px;*/
/*}*/
/*.bar-wrapper .bar-right .piece .piece_num{*/
/*    display: inline-block;*/
/*    padding: 0 10px;*/
/*    font-weight: 700;*/
/*    font-size: 18px;*/
/*    font-family: tohoma,arial;*/
/*}*/
/*.bar-wrapper .bar-right .totalMoney{*/
/*    float: left;*/
/*    min-width: 100px;*/
/*    height: 50px;*/
/*    line-height: 50px;*/
/*}*/
/*.bar-wrapper .bar-right .totalMoney .total_text{*/
/*    float: right;*/
/*    font-weight: 400;*/
/*    font-size: 20px;*/
/*    font-family: Arial;*/
/*    vertical-align: middle;*/
/*    margin-right: 10px;*/
/*    margin-left: 15px;*/
/*}*/
/*.bar-wrapper .bar-right .calBtn{*/
/*    float: left;*/
/*}*/
/*.bar-wrapper .bar-right .calBtn a{*/
/*    display: block;*/
/*    width: 120px;*/
/*    height: 50px;*/
/*    color: #fff;*/
/*    background: #B0B0B0;*/
/*    cursor: not-allowed;*/
/*    font-size: 22px;*/
/*    letter-spacing: 5px;*/
/*    text-decoration: none;*/
/*    line-height: 50px;*/
/*    text-align: center;*/
/*    border-radius: 2px;*/
/*}*/
/*.bar-wrapper .bar-right .calBtn a.btn_sty{*/
/*    background: #f40;*/
/*    cursor: pointer;*/
/*}*/


/*.model_bg{*/
/*    position: absolute;*/
/*    top:0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    background: rgba(0,0,0,.6);*/
/*    z-index: 999;*/
/*    display: none;*/
/*}*/
/*.my_model{*/
/*    position: fixed;*/
/*    display: none;*/
/*    top:50%;*/
/*    left: 50%;*/
/*    margin-top: -50px;*/
/*    margin-left: -200px;*/
/*    z-index: 9999;*/
/*    width: 360px;*/
/*    height: 120px;*/
/*    border: 1px solid #aeaeae;*/
/*    border-radius: 3px;*/
/*    padding: 20px;*/
/*    background: #fff;*/
/*}*/
/*.my_model .title{*/
/*    font-size: 14px;*/
/*    color: #3c3c3c;*/
/*    font-weight: 700;*/
/*    margin-bottom: 20px;*/
/*}*/
/*.my_model .title .closeModel{*/
/*    float: right;*/
/*    cursor: pointer;*/
/*}*/
/*.my_model p{*/
/*    line-height:16px;*/
/*    text-align: center;*/
/*}*/
/*.my_model .opBtn{*/
/*    margin-top: 20px;*/
/*}*/
/*.my_model .opBtn a{*/
/*    width: 58px;*/
/*    height: 28px;*/
/*    line-height: 28px;*/
/*    text-align: center;*/
/*    -webkit-border-radius: 1px;*/
/*    -moz-border-radius: 1px;*/
/*    -ms-border-radius: 1px;*/
/*    border-radius: 1px;*/
/*    display: inline-block;*/
/*    margin-right: 10px;*/
/*    font-weight: 700;*/
/*}*/
/*.my_model .dialog-sure{*/
/*    background: #52a0e5;*/
/*    color: #fff;*/
/*    border: 1px solid #52a0e5;*/
/*    position: relative;*/
/*    top:80%;*/
/*    left:25%;*/
/*}*/

/*.my_model .dialog-close{*/
/*    background: #fff;*/
/*    border: 1px solid #d9d9d9;*/
/*    color: #3c3c3c;*/
/*    position: relative;*/
/*    top:80%;*/
/*    left:40%;*/
/*}*/