body {
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #E5E5E5;
    /* overflow-y:hidden; */
}

.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #009688;
    z-index: 1030;
    padding-right: 30px;
}

.app-header__logo {
  -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  color: #fff;
  text-align: center;
  font-family: 'Niconne';
  padding: 0 15px;
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
}

@media (min-width: 768px) {
  .app-header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: block;
    width: 230px;
    background-color: #007d71;
  }
}

.app-sidebar__toggle {
  padding: 0 15px;
  font-family: fontAwesome;
  color: #fff;
  line-height: 2.4;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

@media (max-width: 767px) {
  .app-sidebar__toggle {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.app-nav .user_platform{
    align-content: center;
    line-height: 50px;
    color: #0f0f0f;
    font-size: 30px;
}

.app-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

	@media (min-width: 768px) {
	  .app-nav {
	    -webkit-box-flex: 1;
	        -ms-flex: 1 0 auto;
	            flex: 1 0 auto;
	  }
	}

.app-search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin-right: 70px;
    padding: 10px 0;
}

.app-search__input {
    border: 0;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

button, input {
    overflow: visible;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 6px;
}

.app-sidebar__overlay {
    visibility: hidden;
}

.app-sidebar {
    left: -230px;
  }

.app-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 70px;
    width: 230px;
    overflow: auto;
    z-index: 10;
    background-color: #222d32;
    -webkit-box-shadow: 0px 8px 17px rgb(0 0 0 / 20%);
    box-shadow: 0px 8px 17px rgb(0 0 0 / 20%);
    -webkit-transition: left 0.3s ease, width 0.3s ease;
    -o-transition: left 0.3s ease, width 0.3s ease;
    transition: left 0.3s ease, width 0.3s ease;
}

.app-sidebar__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    color: #fff;
}

.app-sidebar__user-avatar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 15px;
}

.rounded-circle, .app-sidebar__user-avatar {
    border-radius: 50% !important;
}

img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    border-style: none;
}

.app-sidebar__user-name {
    font-size: 17px;
    line-height: 1.3;
}
.app-sidebar__user-name, .app-sidebar__user-designation {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

    .list-unstyled, .app-nav, .app-menu, .treeview-menu {
	  padding-left: 0;
	  list-style: none;
	}


.app-menu {
    margin-bottom: 0;
    padding-bottom: 40px;
}
.app-menu__item {
    height: 70px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 15px;
    font-size: 1.08em;
    border-left: 3px solid transparent;
    -webkit-transition: border-left-color 0.3s ease,
 background-color 0.3s ease;
    -o-transition: border-left-color 0.3s ease,
 background-color 0.3s ease;
    transition: border-left-color 0.3s ease,
 background-color 0.3s ease;
    color: #fff;
}



	.app-content {
  min-height: calc(100vh - 50px);
  margin-top: 50px;
  padding: 30px 5px;
  background-color: #E5E5E5;
  -webkit-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}
@media (min-width: 768px) {
  .app-content {
    margin-left: 230px;
  }
}

@media (max-width: 767px) {
  .app-content {
    margin-top: 50px;
    min-width: 100%;
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .app-content {
   padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

.iframe-page-content{
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom-width: 0px;

}