<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OrdingSys</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    &lt;!&ndash; jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) &ndash;&gt;-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!--    &lt;!&ndash; 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 &ndash;&gt;-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">


</head>


    <div class="navbox">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Orderingsys</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
<!--                        <li><a href="/user_profile">User</a></li>-->
<!--                        <li><a href="/business_profile">Business</a></li>-->
                        <li><a href="/rider_profile">Rider</a></li>
                            <li><a href="/user_dishes">菜单</a></li>
                    </ul>

                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="搜索美食和评价">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>


                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">注册</button></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">登录</button></a></li>

                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <form action="/login" method="post">
    <!-- 登录框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>

                <h4 >请登录</h4>
                    <div class="form-group">
                        <label for="username">用户名</label>
                        <span id="user"  class="error"> </span>
                        <input type="text" class="form-control"  name="username" id="username" placeholder="用户名">
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <span id="psword" class="error"> </span>

                        <input type="password" class="form-control" name="password" id="password" placeholder="密码">

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">忘记密码，找回！</button>
                <button type="submit" class="btn btn-primary">登录</button>
            </div>

            </div>
        </div>
        </div>
    </div>
</form>




    <div class="start">
        <div class="logo col-md-3">
            <aside class="app-sidebar">
            <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="../static/img/logos.png" alt="User Image"></div>
            </aside>
        </div>
        <div class="car col-md-6">
            <div id="carousel-ad" class="carousel slide" data-ride="carousel" data-interval="1500">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../static/img/香菇鸡汤面.jpg" alt="First slide">
                    </div>
                    <div class="item jpg-1">
                        <img src="../static/img/盐焗鸡肉.jpg" alt="Second slide">
                    </div>
                    <div class="item jpg-2">
                        <img src="../static/img/东坡鱼.jpg" alt="Third slide">
                    </div>
                </div>

                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="other col-md-3">
            <div class="introduce text-left text-primary">   中餐厅位于酒店主楼第三层。餐厅主要经营燕、翅、鲍和高档海鲜，聘请广州南海渔村名厨主理新派粤菜、湘菜、川菜、东北菜、日本菜、韩国菜、葡国菜等。餐厅装修高雅时尚，拥有先进的电脑点菜系统和无线管理设备，大厅600多平方，可容纳300多人同时用餐，适合大型婚宴、喜庆聚会和团队接待；24 个豪华包房功能配置齐全,富丽堂煌，更能体现出宴请宾客的高贵身份。中餐厅总餐位为580位，中餐厅遵照广州花园酒店二十多年待客的服务宗旨，力争成为张家界地区乃至湖南省，环境设备一流，服务水平一流，出品质量一流的理想餐厅。</div>
        </div>
    </div>

    <div class="dishesType">
        <div class="menu">
        <div class="col-md-3">
            <ul class="app-menu">
                <li><span class="glyphicon glyphicon-glass text-primary active">主打产品</span></li><br>
                <li><span class="glyphicon glyphicon-glass text-primary">早餐</span></li><br>
                <li><span class="glyphicon glyphicon-glass text-primary">特色干锅</span></li><br>
                <li><span class="glyphicon glyphicon-glass text-primary">特色菜</span></li><br>
                <li><span class="glyphicon glyphicon-glass text-primary">家常菜</span></li><br>
                <li><span class="glyphicon glyphicon-glass text-primary">面条饺子</span></li><br>
                <li><span class="glyphicon glyphicon-glass text-primary">快食简餐</span></li><br>
                <li><span class="glyphicon glyphicon-glass text-primary">酒水</span></li><br>
                <li><span class="glyphicon glyphicon-glass text-primary">冰凉饮品</span></li><br>
                <li><span class="glyphicon glyphicon-glass text-primary">水果平盘</span></li><br>
             </ul>
        </div>
        </div>

        <div class="col-md-9">
            <div class="row">
            <div class="col-xs-8">
            <span class="Today-recommendation glyphicon glyphicon-fire text-primary">特色推荐</span>
            </div>
            </div>

            <div class="introudce-1">
                <div class="col-md-3">
                    <img href="#" src="../static/img/红烧狮子头.jpg" class="featured-1">
                    <div class="col-xs-9">
                        <span class="featured-1-introduce">红烧狮子头,也叫四喜丸子，是一道淮扬名菜。将有肥有瘦的肉配上荸荠，香菇等材料，做成丸子，然后先炸后煮。出锅后香味扑鼻，光闻起来就引动食欲，醇香味浓的肉块与汁液，超级美味。</span><br>
                        <span class=" glyphicon glyphicon-yen introudce-1-price">价格：20.00</span><br>
                        <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">加入购物车</button>
                        
                    </div>
                </div>
            </div>

            <div class="introudce-2">
                <div class="col-md-3">
                    <img href="#" src="../static/img/油焖大虾.jpg" class="featured-2">
                    <div class="col-xs-9">
                        <span class="featured-2-introduce">油焖大虾是山东省的一道特色名菜，属于鲁菜；该菜品的主要食材为清明前渤海湾的大对虾，使用鲁菜特有的油焖技法。这是一道历史悠久的名菜，鲜香甜咸四种味道相辅相成，回味无穷。近些年流行的油焖大虾是起源于湖北潜江的鄂菜，使用的是淡水的鳌虾（俗称小龙虾）制作，与鲁菜的油焖大虾不同。</span><br>
                        <span class="glyphicon glyphicon-yen introudce-2-price">价格：25.00</span><br>
                        <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">加入购物车</button>
                    </div>
                </div>
            </div>

            <div class="introudce-3">
                <div class="col-md-3">
                    <img href="#" src="../static/img/煎鱼排.jpg" class="featured-3">
                    <div class="col-xs-9">
                        <span class="featured-3-introduce">香菇鸡汤是一道色香味俱全的地方名肴，属于浙菜系。制作原料有鸡肉，干贝丁，香菇等，这道汤可以补气血、养颜、提高免疫力。</span><br>
                        <span class="glyphicon glyphicon-yen introudce-3-price">价格：30.00</span><br>
                        <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">加入购物车</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popular">
        <div class="col-md-4">

                <h3>
                    <span class="Today-recommendation glyphicon glyphicon-fire text-primary">热门评价</span><br>
                </h3>
            <ul class="comment-review-1">

                <ul class="comment-1-img">
                    <img href="#" src="../static/img/鱼.jpg" class="comment-1">
                </ul>

                 <ul class="comment-1-review">
                    <p class="comment-1-introudce text-center">鱼肉鲜香可口，配米饭非常好吃！！！</p>
                </ul>
            </ul>

            <ul class="comment-review-2">
                <ul class="comment-2-img">
                    <img href="#" src="../static/img/麻婆豆腐.jpg" class="comment-2">
                </ul>
                <ul class="comment-3-review">
                    <p class="comment-2-introudce text-center">豆腐嫩滑可口，非常符合川菜的麻辣鲜香。</p>
                </ul>
            </ul>

            <ul class="comment-review-3">
                <ul class="comment-3-img">
                    <img href="#" src="../static/img/海胆蒸蛋.jpg" class="comment-3">
                </ul>
                 <ul class="comment-3-review">
                    <p class="comment-3-introudce text-center">海鲜的鲜味加上蛋的嫩滑，小孩子特别爱吃，营养价值特别高，我家孩子特别爱吃。</p>
                </ul>
            </ul>
        </div>

        <div class="products">
            <div class="products-line-1 col-md-8">
                <h3>
                    <span class="Today-recommendation glyphicon glyphicon-fire text-primary">热销产品</span><br>
                </h3>
                <div class="products-1 col-xs-4">
                    <img href="#" src="../static/img/盐焗鸡肉.jpg" class="products-1-img"><br>
                    <span class="products-1-introduce">盐焗鸡是广东省客家地区的传统美食，属于客家菜  ，也是广东当地客家招牌菜式之一；盐焗鸡流行于广东深圳、梅州、惠州、河源等地，现已成为享誉中国国内外的经典菜式，原材料是鸡、盐和盐焗粉等，味道咸香，口感鲜嫩。</span><br>
                    <span class="glyphicon glyphicon-yen introudce-3-price">价格：30.00</span><br>
                    <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">加入购物车</button>
                </div>
                <div class="products-2 col-xs-4">
                    <img href="#" src="../static/img/清炒虾仁.jpg" class="products-2-img"><br>
                    <span class="products-2-introduce">清炒虾仁是江苏省的一道传统名菜，属于苏菜系；该菜品是以虾仁为主要材料炒制的菜肴。清淡爽口，易于消化，老幼皆宜，深受食客欢迎，其配料可以随个人喜好而变化，做法多样。</span><br>
                    <span class="glyphicon glyphicon-yen introudce-3-price">价格：30.00</span><br>
                    <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">加入购物车</button>
                </div>
                <div class="products-3 col-xs-4">
                    <img href="#" src="../static/img/沙拉.jpg" class="products-3-img">
                    <span class="products-3-introduce">蔬菜沙拉是一道以圆白菜、番茄、黄瓜等作为主要食材制作而成的美食。蔬菜沙拉是一种非常营养健康的饮食方法。首先它大多不必加热，这样会最大限度的保持住蔬菜中的各种营养不至于被破坏或流失。</span><br>
                    <span class="glyphicon glyphicon-yen introudce-3-price">价格：30.00</span><br>
                    <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">加入购物车</button>
                </div>
            </div>

            <div class="products-line-2 col-md-8">
                <div class="products-4 col-xs-4">
                    <img href="#" src="../static/img/东坡肘子.jpg" class="products-4-img">
                    <span class="products-4-introduce">东坡肘子有肥而不腻、粑而不烂的特点，色、香、味、形俱佳 ，东坡肘子汤汁乳白，雪豆粉白，猪肘肥软适口，原汁原味，香气四溢。</span><br>
                    <span class="glyphicon glyphicon-yen introudce-4-price">价格：40.00</span><br>
                    <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">加入购物车</button>
                </div>

                <div class="products-5 col-xs-4">
                    <img href="#" src="../static/img/东坡羹.jpg" class="products-5-img">
                    <span class="products-5-introudce"></span>东坡羹是一道色香味俱全的传统名点。是指苏轼 所烹调的一种菜羹。 宋 苏轼《东坡羹颂》引:"东坡羹，盖 东坡居士 所煮菜羹也。不用鱼肉五味，有自然之甘。其法以菘若蔓菁若芦菔若荠，皆揉洗数过，去辛苦汁，以生油少许涂釜缘及瓷盌在菜汤中，入生米为糁。<br>
                    <span class="glyphicon glyphicon-yen introudce-5-price">价格：30.00</span><br>
                    <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">加入购物车</button>
                </div>

                <div class="products-6 col-xs-4">
                    <img href="#" src="../static/img/四喜丸子.jpg" class="products-6-img">
                    <span class="products-6-introudce">红烧狮子头,也叫四喜丸子，是一道淮扬名菜。将有肥有瘦的肉配上荸荠，香菇等材料，做成丸子，然后先炸后煮。出锅后香味扑鼻，光闻起来就引动食欲，醇香味浓的肉块与汁液，超级美味。</span><br>
                    <span class="glyphicon-yen glyphicon-yen introudce-6-price">价格：40.00</span><br>
                    <button class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal">加入购物车</button>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="last col-md-12">-->
<!--        <div class="last-1 col-xs-4">-->
<!--            <span class="user-help text-primary">用户帮助</span><br>-->
<!--            <span class="user-help-content">申请退款<br>常见问题<br>用户协议<br>隐私政策<br>反诈骗公告<br>消费者权益保障</span><br>-->

<!--        </div>-->

<!--        <div class="last-2 col-xs-4">-->
<!--            <span class="business-cooperation text-primary">商务合作</span><br>-->
<!--            <span class="business-cooperation-content">美食商家入驻<br>外卖开店申请<br>综合商家入驻<br>商家开票申请<br>智能收银机</span><br>-->
<!--        </div>-->

<!--        <div class="last-3 col-xs-4">-->

<!--        </div>-->

<!--    </div>-->





</body>
</html>

