<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orderingsys</title>
</head>
<body>

	<form action = "/login" method="post">
		<input type = "text" name="username" placeholder="请输入账号：">
		<input type = "password" name="password" placeholder="请输入密码：">

		<input type = "submit" value="登录">

		<a href="/register_user"><input type="button" value="用户注册"></a>
		<a href="/register_business"><input type="button" value="商家注册"></a>
		<a href="/register_rider"><input type="button" value="骑手注册"></a>

	</form>


</body>
</html>


