<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>

    <form action = "/register_user" method="post">
		<input type = "text" name="phone" placeholder="请输入手机号：">
		<input type = "password" name="password" placeholder="请输入密码：">
        <input type = "text" name="name" placeholder="请输入姓名：">
        <input type = "text" name="age" placeholder="请输入年龄：">
        <input type="text" name="gender" placeholder="请输入性别：">

<!--        <select name = "gender">-->
<!--            <option value="男">男</option>-->
<!--            <option value="女">女</option>-->
<!--        </select>-->

        <input type = "text" name="address" placeholder="请输入默认地址：">
        <input type = "text" name="headPortrait" placeholder="请选择你的头像：">

        <a href="/login"><input type="submit" value="注册"></a>

	</form>
</body>
</html>